html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: $root-font-family;
	font-size: $root-font-size;
	line-height: $root-line-height;	

	@media (min-width: $large-breakpoint) {
		font-size: $large-font-size;
	}
}


