<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="/assets/css/styles.css">
		
		<script type="text/x-mathjax-config">
			  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>

		<script type="text/javascript" async
			  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
		</script>

		{% feed_meta %}
		{% seo %}
	</head>
	<body>
		{% include navigation.html %}
		
		<main class = "content">
			{{ content }}
		</main>

		<footer class = "footer">
			<small> &copy; 
				 <time datetime = "{{ site.time | date_to_xmlschema }}"> 
					 {{ site.time | date: '%Y' }} 
				 </time>. All rights reserved.
			</small>
		</footer>
	</body>
</html>

